<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="SourceFilePath" value="/Users/cabouffard-laptop/Desktop/transmiter test/Source.txt"/>
		<add key="DestinationFilePath" value="/Users/cabouffard-laptop/Desktop/transmiter test/Destination.txt"/>
		<add key="BufferSize" value="3"/>
		<add key="FrameSize" value="5"/>
	</appSettings>
</configuration>
